@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,600;0,800;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,800;1,400&display=swap");
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 200%; }

h2 {
  font-weight: 200; }

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 100; }

@media screen and (min-width: 750px) {
  h1 {
    font-size: 250%; } }

.flex-row {
  display: flex;
  flex-flow: row nowrap; }

.align-center {
  align-items: center; }

.spread {
  justify-content: space-between; }

.break-after::after {
  content: '\A';
  white-space: pre; }

.h-hidden {
  display: none !important;
  visibility: hidden;
  opacity: 0;
  pointer-events: none; }

.h-hidden-invisible {
  visibility: hidden; }

.h-hidden-transparent {
  opacity: 0;
  pointer-events: none; }

.inactive {
  opacity: 0.5; }

.opacity-0 {
  opacity: 0.0; }

.opacity-10 {
  opacity: 0.1; }

.opacity-30 {
  opacity: 0.3; }

.opacity-50 {
  opacity: 0.5; }

.opacity-70 {
  opacity: 0.7; }

.opacity-100 {
  opacity: 1; }

.zz-top {
  z-index: 101; }

.zz-middle {
  z-index: 50; }

.zz-10 {
  z-index: 10; }

.zz-bottom {
  z-index: 1; }

.badge {
  font-size: 65%;
  padding: .5em 1em .6em 1em;
  border-radius: 30px;
  letter-spacing: .1em; }

.badge-warning {
  margin-left: 1em;
  padding: .5em 1em .5em; }

.badge-danger {
  margin-left: 1em;
  padding: .5em 1em .5em; }

.disconnected {
  background-color: grey; }

.online {
  background-color: #61D9FA; }

.invited {
  background-color: #5cb85c; }

.blocked {
  background-color: red; }

.btn {
  border-radius: 30px;
  padding: 10px 40px;
  text-align: center;
  background-color: #61D9FA;
  color: #ffffff;
  font-size: 100%; }

@media (hover) {
  .btn:hover {
    cursor: pointer; } }

.btn-default {
  background-color: #61D9FA;
  color: #ffffff; }

.btn-ok {
  background-color: #61D9FA;
  color: #ffffff; }

.btn-send {
  background-color: #61D9FA;
  color: #ffffff; }

.btn-link {
  background-color: transparent;
  border: none;
  color: #61D9FA; }

.btn-link:focus {
  border: none;
  outline: none; }

button:disabled,
button[disabled] {
  background-color: #999999 !important;
  color: #ffffff !important;
  opacity: 0.2 !important; }

button:focus {
  border: 1px solid #ffffff;
  outline: none; }

.default-message-btn-icon:before {
  content: "\f1d8"; }

.send-message-btn-icon:before {
  content: "\f1d8"; }

.ok-message-btn-icon:before {
  content: "\f1d8"; }

input:focus {
  outline: none; }

.error-message {
  color: red;
  font-size: 1em;
  margin-bottom: 0px; }

.input-label {
  color: #ffffff;
  margin-top: 0.5em; }

.input-label::before {
  content: '\A';
  white-space: pre; }

.input-label::after {
  content: '\A';
  white-space: pre; }

.form-input, .form-input-rounded {
  color: #ffffff;
  font-weight: 100; }
  .form-input-rounded {
    color: black;
    font-weight: 100;
    background-color: white;
    border-radius: 40px;
    border: none;
    border-bottom: 2px solid #ffffff;
    outline: none;
    padding-bottom: 6px;
    padding-top: 8px;
    padding-left: 20px;
    text-align: left;
    width: 100%;
    font-size: 80%;
    letter-spacing: 3px;
    margin-bottom: 20px; }

.a-btn {
  border-radius: 30px;
  padding: 8px 30px;
  text-align: center;
  background-color: #61D9FA;
  color: #ffffff;
  font-size: 100%; }

.link-disabled {
  background-color: #999999 !important;
  color: #ffffff !important;
  opacity: 0.2 !important; }

ul {
  list-style: none;
  word-wrap: break-word; }

.message {
  padding: 10px 20px 10px 10px;
  margin-bottom: 15px;
  background-color: #626C80;
  border-radius: 5px;
  width: 80%;
  color: #ffffff;
  font-size: 100%;
  word-wrap: break-word; }

.own {
  margin-left: auto !important;
  background-color: #61D9FA !important; }

.meta {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 7px; }

.timestamp {
  float: right;
  font-size: 12px; }

.bot-message {
  font-size: 12px;
  text-align: center;
  padding: 4px 0px 4px 0px;
  margin: 10px 0 10px 0; }

.text {
  margin-bottom: 2px;
  font-size: 100%; }

@media (min-width: 750px) {
  .text {
    font-size: 150%; } }

.header-content {
  grid-area: header; }

#navMenu {
  grid-area: nav;
  overflow: auto; }

.main-content {
  grid-area: main; }

.footer-content {
  grid-area: footer; }

#app {
  display: grid;
  grid-template-rows: 80px calc(100% - 160px) 80px;
  grid-template-areas: "header" "main" "footer";
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available; }

main {
  overflow: auto; }

@media (min-width: 750px) {
  #app {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header main" "nav main" "nav footer"; }
  main {
    height: calc(100vh - 80px); } }

* {
  box-sizing: border-box; }

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }

html, body {
  font-family: "Open Sans", sans-serif;
  background-color: #333333;
  color: #ffffff;
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available; }

body {
  overflow: hidden;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0; }

#page, #page-login {
  display: flex;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  margin: 0;
  padding: 0; }
  #page-login {
    flex-direction: column; }

header {
  background-color: #fafafa;
  color: #333333;
  padding-left: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  height: 80px;
  min-width: 375px; }

.logo {
  align-self: center;
  padding-top: 22px;
  padding-bottom: 8px;
  flex-grow: 1;
  margin-bottom: 0px; }

.logo-border-bottom {
  border-bottom: 1px solid #999999; }

.header-menu {
  align-self: flex-end;
  height: 65%;
  display: flex;
  margin-bottom: -1px; }
  .header-menu-item {
    margin-left: 2em; }

.menu-item, .menu-item-selected {
  padding-top: 10px;
  width: 60px;
  text-align: center; }
  .menu-item-selected {
    background-color: #fafafa;
    border-top: 4px solid #61D9FA;
    border-left: 1px solid #999999;
    color: #333333; }
  .menu-item-selected:hover {
    cursor: pointer; }
  .menu-item :hover, .menu-item-selected :hover {
    cursor: pointer; }

@media (min-width: 750px) {
  .header-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    color: #333333; } }

main {
  padding-left: 1em;
  padding-right: 1em; }

#main {
  display: flex;
  flex-direction: column;
  width: 100%; }

messages {
  padding: 0 2vw 2vh 2vw; }

messages::-webkit-scrollbar {
  width: 1em; }

messages::-webkit-scrollbar-track {
  border: 1px solid #ffffff; }

messages::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  outline: 1px solid #ffffff; }

#msg {
  border-radius: 30px;
  border: none;
  outline: none;
  text-align: left;
  letter-spacing: 2px;
  color: #333333;
  font-size: 100%;
  font-weight: 100;
  width: 100%;
  padding-left: 1.5em;
  padding-top: 0.7em;
  padding-bottom: 0.7em; }

.message-label {
  display: table;
  color: #ffffff;
  font-size: small;
  width: 100%; }

#msg[contenteditable]:empty::before {
  color: #333333; }

.submit-message {
  font-size: 100% !important;
  margin-right: 6px;
  padding: 6px 20px; }

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right; }

.message-form {
  background-color: transparent;
  float: left;
  align-self: end;
  display: table-cell;
  width: 100%; }

.message-input-align {
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  flex-grow: 1;
  width: 100%;
  clear: right;
  margin: 20px 1vw 20px 1vw;
  align-items: center; }

.message-button-align {
  flex-grow: 0;
  align-self: center;
  clear: both; }

@media (min-width: 750px) {
  #msg {
    font-size: 150%;
    padding-top: 5px;
    padding-bottom: 5px; }
  .submit-message {
    padding: 6px 40px; } }

.nav {
  background-color: #fafafa;
  display: none;
  padding-left: 1em;
  height: calc(100vh - 80px);
  color: #333333; }

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: #fafafa;
  width: 100%;
  position: absolute;
  top: -100vh; }

.slideup, .slidedown {
  position: absolute;
  top: -100vh;
  overflow-y: hidden;
  -webkit-transition: top 0.6s ease-in-out;
  -moz-transition: top 0.6s ease-in-out;
  -o-transition: top 0.6s ease-in-out;
  transition: top 0.6s ease-in-out; }

.slidedown {
  top: 81px; }

#loadLoremBtn.btn {
  align-self: center; }

@media (min-width: 750px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 2em;
    min-width: 375px; } }

footer {
  background-color: #333333;
  color: #ffffff;
  padding: 20px 1em 20px 1em;
  height: 80px; }

.footer-content {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end; }

dashboard {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #626C80;
  color: #ffffff;
  padding: 3vh 5vw 5vh 5vw; }
  dashboard hr {
    border: 1px solid #4c5463;
    width: 100%; }

dashtitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }

.dash-close {
  color: #333333;
  margin-right: 6px; }

.dash-section {
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 1px rgba(104, 106, 111, 0.1), 0 0 0 0 rgba(104, 106, 111, 0.1);
  -webkit-transition: .2s,opacity .5s;
  transition: .2s,opacity .5s; }

dashmenu {
  flex: 1;
  display: flex;
  flex-direction: column; }

body > dashboard > button.leave-room {
  width: 92%;
  height: 80px;
  font-size: 150%;
  text-align: center;
  background-color: #61D9FA; }

.dash-btn {
  width: 100%;
  text-align: center; }

#viewMenu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.view-menu-item, .view-menu-item:hover {
  font-size: 2em;
  color: #333333; }
  .view-menu-item > i.selected {
    color: #61D9FA; }
  .view-menu-item > i.default {
    color: #333333; }
  .view-menu-item:hover {
    color: #61D9FA;
    cursor: pointer; }

invite {
  display: flex;
  flex-direction: column;
  justify-items: baseline; }

.send-failure-message {
  color: red;
  font-size: 80%;
  padding-left: 1em; }

#addMember {
  color: #61D9FA !important; }

#addMember:hover {
  cursor: pointer; }

.fa-plus-circle {
  margin-right: 0.2em; }

#recipients {
  display: flex;
  flex-direction: column; }

#recipients input {
  color: #ffffff;
  font-size: 80%;
  flex-grow: 1;
  border: none;
  background-color: transparent;
  border-radius: 30px;
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em; }

input[type="email"]::-webkit-input-placeholder {
  color: #ffffff; }

invite > button.send-invitations-btn {
  width: 50%;
  background-color: #61D9FA;
  margin-top: 0.5em; }

.inviteWrapper {
  background-color: #999999;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em; }

.user {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 1em; }
  .user span {
    margin-right: 8px; }

.user-list-item-menu {
  align-self: center;
  margin-left: auto; }
  .user-list-item-menu:hover {
    cursor: pointer; }

.login {
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 2em; }
  .login .form-control {
    background-color: transparent;
    border: transparent;
    width: 100%;
    text-align: center; }
  .login .title {
    margin-bottom: 1rem;
    font-size: 175%;
    color: #ffffff;
    font-weight: 100; }
  .login .username-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    outline: none;
    padding-bottom: 6px;
    text-align: center;
    max-width: 80%;
    font-size: 200%;
    letter-spacing: 3px;
    color: white; }
  .login button {
    margin-top: 2em; }
  .login-email-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }

#roomField {
  display: none; }

#emailField {
  display: none; }

#roomInput {
  font-size: 94%;
  margin-top: 24px; }

#emailInput {
  font-size: 100%;
  margin-top: 22px; }

#joinBtn {
  margin-top: 29px;
  margin-right: 20px;
  padding: 5px 20px;
  font-size: 80%; }

@media screen and (min-width: 750px) {
  .login .title {
    font-size: 200%;
    width: 400px; }
  #joinBtn {
    font-size: 100%; } }

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap; }

.user-input {
  text-align: left;
  min-width: 292px;
  max-width: 500px;
  margin-left: 40px;
  margin-right: 40px; }

@media screen and (min-width: 750px) {
  .default-message-btn-icon:before {
    content: "\f1d8"; }
  .send-message-btn-icon:before {
    content: "\f1d8"; }
  .ok-message-btn-icon:before {
    content: "\f1d8"; }
  .btn-default {
    background-color: #61D9FA;
    color: #ffffff; }
  .btn-ok {
    background-color: #61D9FA;
    color: #ffffff; }
  .btn-send {
    background-color: #61D9FA;
    color: #ffffff; }
  messages .message {
    padding: 10px 20px 10px 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    max-width: 65%;
    color: #ffffff;
    font-size: 120%; }
  messages .message .meta {
    font-size: 12px; } }
