.login {
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 2em;

  .form-control {
    background-color: transparent;
    border: transparent;
    width: 100%;
    text-align: center;
  }

  .title {
    margin-bottom: 1rem;
    font-size: 175%;
    color: $text-primary;
    font-weight: 100;
  }

  .username-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $white;
    outline: none;
    padding-bottom: 6px;
    text-align: center;
    width: 100%;
    font-size: 200%;
    letter-spacing: 3px;
    color: white;
  }

  button {
    margin-top: 2em;
  }

  &-email-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

#usernameField {

}

#roomField {
  display: none;
}

#emailField {
  display: none;
}

#roomInput {
  font-size: 94%;
  margin-top: 24px;
}

#emailInput {
  font-size: 100%;
  margin-top: 22px;
}

#joinBtn {
  margin-top: 29px;
  margin-right: 20px;
  padding: 5px 20px;
  font-size: 80%;
}


@media screen and (min-width: 750px) {

  .login {

    .title {
      font-size: 200%;
    }
  }

  #joinBtn {
    font-size: 100%;
  }

}