* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, body {
  font-family: $secondary-font;
  background-color: $charcoal;
  color: $text-primary;
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available;
}

body {
  overflow: hidden;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
}

#page {
  display: flex;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  margin: 0;
  padding: 0;

  &-login {
    @extend #page;
    flex-direction: column;
  }
}

