* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, body {
  font-family: $system-font-stack;
  background-color: $shark;
  color: $text-primary;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#page {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  &-chat {
    @extend #page;
    flex-direction: row;
  }

  &-login {
    @extend #page;
    flex-direction: column;
  }
}

#main {
  display: flex;
  flex-direction: column;
  width: 100%;

  chat {
    flex: 4;
  }
}