messages {
  padding: 0 2vw 2vh 2vw;
}

messages::-webkit-scrollbar {
  width: 1em;
}

messages::-webkit-scrollbar-track {
  border: 1px solid $white;
}

messages::-webkit-scrollbar-thumb {
  background-color: $white;
  outline: 1px solid $white;
}

#msg {
  background-color: #ffffff;
  border-radius: 30px;
  border: none;
  outline: none;
  text-align: left;
  letter-spacing: 2px;
  color: #333333;
  font-size: 150%;
  font-weight: 100;
  width: 96%;
  float: left;
  margin-right: 10px;
  margin-bottom: 9px;
  padding-bottom: 10px;
  align-self: end;
  display: table-cell;
  padding-left: 1em;
  padding-top: .5em;
}

.message-label {
  display: table;
  color: $text-primary;
  font-size: small;
  width: 100%;
}

#msg[contenteditable]:empty::before {
  color: $text-secondary;
}

button.submit-message {
  font-size: 100% !important;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

.message-form {
  width: 100%;
}

.message-input-align {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  flex-grow: 1;
  width: 100%;
  clear: right;
}

.message-button-align {
  flex-grow: 0;
  align-self: center;
  clear: both;
}