messages {
  padding: 0 2vw 2vh 2vw;
}

messages::-webkit-scrollbar {
  width: 1em;
}

messages::-webkit-scrollbar-track {
  border: 1px solid $white;
}

messages::-webkit-scrollbar-thumb {
  background-color: $white;
  outline: 1px solid $white;
}

#msg {
    border-radius: 30px;
    border: none;
    outline: none;
    text-align: left;
    letter-spacing: 2px;
    color: #333333;
    font-size: 100%;
    font-weight: 100;
    width: 96%;
    float: left;
    align-self: end;
    display: table-cell;
    padding-left: 1.5em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;

}

.message-label {
display: table;
color: $text-primary;
font-size: small;
width: 100%;
}

#msg[contenteditable]:empty::before {
color: $text-secondary;
}

.submit-message {
  font-size: 100% !important;
  margin-right: 6px;
  padding: 6px 20px;
}

.username {
font-weight: 700;
overflow: hidden;
padding-right: 15px;
text-align: right;
}

.message-form {
width: 100%;
}

.message-input-align {
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  flex-grow: 1;
  width: 100%;
  clear: right;
  margin: 20px 1vw 20px 1vw;
  align-items: center;
}

.message-button-align {
flex-grow: 0;
align-self: center;
clear: both;
}

@media(min-width: 750px) {

  #msg {
    font-size: 150%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .submit-message {
    padding: 6px 40px;
  }

}