header {
  padding: 1em 2em;
  background-color: $secondary;
  color: $text-primary;
  font-size: 20px;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 80px;

  &-center {
    flex-grow: 1;
  }

  &-item + &-item {
    margin-left: 2em;
  }

  &.menu {
    margin-top: 10px;
  }
}

headermenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

headermenu .logo {
  height: 6vh;
  color: $text-primary;
  margin-left: 5vw;
}

headermenu .site-title h1 {
  padding-top: 1vh;
  font-size: 100%;
}

headermenu .site-menu {
  margin-right: 20px;
  margin-left: auto;
}

headermenu .site-menu li {
  color: $text-primary;
  font-size: 100%;
}