header {
  background-color: $offwhite;
  color: $text-secondary;
  padding-left: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  height: 80px;
  min-width: 375px;
}

.logo {
  align-self: center;
  padding-top: 16px;
}

.header-menu {
  align-self: flex-end;
  height: 65%;
  display: flex;
  &-item {
    margin-left: 2em;
  }
}

.menu-item {
  padding-top: 10px;
  width: 60px;
  text-align: center;
  &-selected {
    padding-top: 10px;
    width: 60px;
    text-align: center;
    background-color: $primary;
    border-top: 4px solid $accent;
  }
}

@media(min-width: 750px) {

  .header-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

}