#app {
  display: grid;
  grid-template-rows: 80px calc(100% - 160px) 80px;
  grid-template-areas:
  "header"
  "main"
  "footer";
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available;
}

main {
  overflow: auto;
}

@media(min-width: 750px) {

  #app {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "header main"
    "nav main"
    "nav footer"
  }

  main {
    height: calc(100vh - 80px);
  }

}