.nav {
  background-color: $offwhite;
  display: none;
  padding-left: 1em;
  height: calc(100vh - 80px);
  color: $charcoal;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: $primary;
  width: 100%;
  position: absolute;
  top: 80px;
  z-index: 100;
}

#loadLoremBtn.btn {
  align-self: center;
}

@media(min-width: 750px) {

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 2em;
    min-width: 375px;
  }

}