.badge {
  font-size: 65%;
  padding: .5em 1em .6em 1em;
  border-radius: 30px;
  letter-spacing: .1em;
}

.badge-warning {
  margin-left: 1em;
  padding: .5em 1em .5em;
}

.badge-danger {
  margin-left: 1em;
  padding: .5em 1em .5em;
}

.disconnected {
  background-color: $grey;
}

.online {
  background-color: $accent;
}