.message {
  padding: 10px 20px 10px 10px;
  margin-bottom: 15px;
  background-color: $shuttle-gray;
  border-radius: 5px;
  width: 80%;
  color: $text-primary;
  font-size: 100%;
  word-wrap: break-word;
}

.own {
  margin-left: auto !important;
  background-color: $accent !important;
}

.meta {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 7px;
}

.timestamp {
  float: right;
  font-size: 12px;
}

.bot-message {
  font-size: 12px;
  text-align: center;
  padding: 4px 0px 4px 0px;
  margin: 10px 0 10px 0;
}

.text {
  margin-bottom: 2px;
  font-size: 100%;
}

@media(min-width: 750px) {

  .text {
    font-size: 150%;
  }

}