messages .message {
  padding: 10px 20px 10px 10px;
  margin-bottom: 15px;
  background-color: $shuttle-gray;
  border-radius: 5px;
  width: 80%;
  color: $text-primary;
  font-size: 100%;
  word-wrap: break-word;
}

.message.own {
  margin-left: auto !important;
  background-color: $accent !important;
}

messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 7px;
}

messages .message .timestamp {
  float: right;
  font-size: 12px;
}

messages .bot-message {
  font-size: 12px;
  text-align: center;
  padding: 4px 0px 4px 0px;
  margin: 10px 0 10px 0;
}

messages .message > p.text {
  margin-bottom: 2px;
}