@media screen and (min-width: 1000px) {
  /*.btn:hover {*/
  /*    background-color: #ffffff;*/
  /*    color: #000000;*/
  /*}*/
  .default-message-btn-icon:before {
    content: "\f1d8";
  }

  .send-message-btn-icon:before {
    content: "\f1d8";
  }

  .ok-message-btn-icon:before {
    content: "\f1d8";
  }

  .btn-default {
    background-color: $accent;
    color: $text-primary;
  }

  .btn-ok {
    background-color: $accent;
    color: $text-primary;
  }

  .btn-send {
    background-color: $accent;
    color: $text-primary;
  }

  dashboard {
    display: block;
    max-width: 400px;
    padding: 2vh 1vw 2vh 1vw;
  }

  messages .message {
    padding: 10px 20px 10px 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    max-width: 65%;
    color: $text-primary;
    font-size: 120%;
  }

  messages .message .meta {
    font-size: 12px;
  }

  chat > form textarea {
    margin-bottom: 25px;
    max-width: 55%;
  }

}